body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 120px;
  margin-bottom: 50px;
}

.container {
  height: 500px;
  width: 500px;
  border: solid 2px;
  display: flex;
  flex-direction: column;
}

.row-wrapper {
  flex: 1;
  display: flex;
}

.square {
  border: solid lightgray 1px;
  flex: 1;
  opacity: 1;
}