.container {
  height: 500px;
  width: 500px;
  border: solid 2px;
  display: flex;
  flex-direction: column;
}

.row-wrapper {
  border: solid green 1px;
  flex: 1;
  display: flex;
}

.square {
  border: solid blue 1px;
  flex: 1;
}